@tailwind base;
@tailwind components;
@tailwind utilities;

.character {
  border: none;
  font-size: 20px;
  border-radius: 8px;

  /* light theme */
  color: #272729;
  background-color: #f9f5f0;
  box-shadow: 0 2px 0 #e4e2f5;
}

.character--selected {
  outline: 2px solid #ff9100;
}
